<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="h-[90vh] overflow-hidden">
    <div class="h-full grid grid-cols-6 gap-8">
      <div class="h-[85vh] overflow-y-auto col-span-4 pr-8">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Appointment
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Scheduled date
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let appointment of appointments">
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-900">{{appointment.description}}</div>
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-500">{{appointment.scheduleDate | date: 'medium'}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-[85vh] overflow-y-auto col-span-2">
        <div class="bg-gray-100 p-6 rounded-md">
          <h2 class="text-2xl font-semibold">Book an appointment</h2>
          <form (ngSubmit)="bookAppointment()" [formGroup]="form" class="my-4">
            <div>
              <label class="block text-sm font-medium text-gray-700" for="scheduleDate">
                Schedule appointment
              </label>
              <div class="mt-1">
                <input type="datetime-local" formControlName="scheduleDate" id="scheduleDate" rows="3"
                  class="w-full rounded-md border-gray-400">
              </div>
            </div>
            <div class="mt-4">
              <label class="block text-sm font-medium text-gray-700" for="description">
                Title/description
              </label>
              <div class="mt-1">
                <textarea class="w-full rounded-md border-gray-400" formControlName="description" id="description"
                  rows="3"></textarea>
              </div>
              <p class="mt-1 text-sm text-gray-500">
                Brief description about the appointment
              </p>
            </div>
            <button
              class="mt-4 w-full bg-indigo-600 border border-transparent rounded-md py-2 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              type="submit">
              Book appointment
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>