<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class='grid grid-cols-5 gap-6'>
    <ng-container *ngFor='let outlet of outlets'>
      <div class='flex flex-col flex-1 justify-between'>
        <div class='w-48 h-48 overflow-hidden'>
          <img [alt]='outlet.name' [src]='outlet.thumbnailUrl' class='w-full h-full object-cover'>
        </div>
        <div class='mt-2 space-y-1 flex-grow'>
          <p class='uppercase text-sm font-bold tracking-wide'>{{outlet.name}}</p>
          <p class='text-sm text-gray-500'>{{outlet.address}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>