<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <div class="h-[90vh] overflow-hidden">
    <div class="h-full grid grid-cols-6 gap-8">
      <div class="h-[85vh] overflow-y-auto col-span-4 my-8 pr-8 ">
        <ng-container *ngFor="let product of products; let i = index">
          <div [ngClass]="{'-mt-6': i === 0}" class="py-6 border-b">
            <div class="flex space-x-6">
              <img [alt]="product.name" [src]="product.thumbnailUrl" class="w-52 h-52 object-cover flex-shrink-0">
              <div class="space-y-6 flex-grow">
                <h3 class="text-lg leading-6 font-medium text-gray-900">{{product.name}}</h3>
                <div>
                  <h3 class="sr-only">Description</h3>
                  <div class="space-y-6">
                    <p class="text-sm text-gray-700">{{product.description}}</p>
                  </div>
                </div>
              </div>
              <div class="space-y-6 flex-shrink-0 max-w-[10rem]">
                <button (click)="addProduct(product)"
                  class="flex justify-center items-center px-6 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700">
                  Buy
                </button>
                <p class="text-xl text-gray-900 font-bold">{{product?.price | currency}}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="h-[85vh] overflow-y-auto col-span-2 my-8 pr-8">
        <div class="bg-gray-100 p-6 rounded-md">
          <h2 class="text-xl leading-6 font-semibold text-gray-900">Order summary</h2>
          <div class="mt-6">
            <ng-container *ngFor="let product of collection">
              <div class="py-2">
                <div class="flex space-x-6">
                  <img [alt]="product?.name" [src]="product?.thumbnailUrl" class="w-16 h-16 object-cover flex-shrink-0">
                  <div class="space-y-4">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{product?.name}}</h3>
                    <p class="text-gray-700">{{product?.price | currency: ''}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="mt-6">
            <button (click)="checkout()"
              class="w-full flex justify-center items-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>