<div class="h-[93vh] overflow-hidden relative">
  <img
    src="https://images.unsplash.com/photo-1600170311833-c2cf5280ce49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt="Dental services" class="w-full h-full object-center object-cover">
  <div class="absolute inset-0 bg-black bg-opacity-50">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <div>
        <h1 class="text-white text-5xl font-black">Welcome to Dental Services</h1>
        <p class="mt-6 text-white text-center text-2xl font-medium">The best dental services available</p>
        <a routerLink="/appointments"
          class="mt-8 max-w-fit mx-auto bg-indigo-600 border border-transparent rounded-md py-4 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          type="submit">
          Book an appointment
        </a>
      </div>
    </div>
  </div>
</div>